.__footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #4056a1;
	color: #ffffff;
	width: 100%;
	height: 100px;
	margin-top: 2em;
}

.brand__footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.copyright {
	font-size: 1em;
}
