header {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	background-color: #c7891e;
	background: url(../images/brick-wall.png);
	height: 400px;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
