/* .new-tweet {
	display: flex;
	flex-direction: column;
} */
form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
}

textarea {
	resize: none;
	background: transparent;
	font-size: 1em;
	height: 2.5em;
	padding-top: 0.4em;
	overflow: auto;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 5px solid grey;
}

textarea:focus {
	outline: none;
}

section div {
	display: flex;
	justify-content: space-between;
}
section div button {
	font-family: 'Bungee', cursive;
	height: 2em;
	background-color: #4056a1;
	color: #ffffff;
	font-size: 0.7em;
	margin-left: 0;
	margin-top: 0.5em;
	padding: 0 1.2em;
}

section div output {
	font-family: 'Bungee', cursive;
	font-size: 0.7em;
	padding: 0.5em;
}
